@import 'variable';

p {
    text-justify: inter-word;
}

.box1 {
    //padding-top: 80px;
    width: 100%;
    height: 100vh;
    background: url("../img/iphonex.png") no-repeat 50% 410px, linear-gradient(-50deg, $bg-color1, $bg-color2);
    background-size: 400px, 100%;
    text-align: center;

    .holder {
        position: relative;
        width: 1280px;
        height: 500px;
        margin: 0 auto;

        .appBox {
            position: absolute;
            top: 100px;
            left: 30px;
            padding: 0 20px;
            display: inline-block;
            border-radius: 25px;
            line-height: 50px;
            color: $txtColorOnBg;
            background: rgba(255, 255, 255, .2);
            box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .4);
            text-decoration: none;
            font-family: $font;
            transition: .1s;

            &:hover {
                background: rgba(255, 255, 255, .3);
                top: 23px;
                box-shadow: none;
                transition: .2s;
            }
        }

        .slogan {
            font-family: $font;
            font-size: 50px;
            color: $txtColorOnBg;
            position: relative;
            top: 240px;

        }
    }

}

.description {
    overflow: hidden;
    width: 1280px;
    margin: 0 auto;

    article {
        float: right;
        width: 810px;
        padding: 70px 40px;

        header {
            font-family: $font;
            font-size: 35px;
            padding: 50px 0;
            color: $txtColor1;
        }

        p {
            font-family: $lightFont;
            font-size: 25px;
            line-height: 40px;
            padding: 40px 0;
            color: $txtColor2;
            text-align: justify;
            text-justify: inter-word;

        }

    }

    .mobileScreen {
        height: 600px;
        float: left;
        width: 30%;

        .mobile {
            width: 100%;
            height: 100%;
            background: url("../img/iphonex.png") no-repeat 50% 50%;
            background-size: 300px;

            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.suggestion {
    background: linear-gradient(-50deg, $bg-color2, $bg-color1);
    height: 70px;

    p {
        line-height: 70px;
        text-align: center;
        color: $txtColorOnBg;
        width: 1280px;
        margin: 0 auto;
        font-family: $boldFont;
        font-size: 20px;
    }
}

.points {
    overflow: hidden;

    .holder {
        overflow: hidden;
        width: 1240px;
        padding: 30px 20px;
        margin: 0 auto;
        text-align: center;

        .item {
            float: right;
            margin: 20px;
            width: 270px;
            height: 390px;

            .pic {
                background: #FFF;
                box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, .5);
                border-radius: 100px;
                display: inline-block;
                margin: 20px;
                height: 200px;
                width: 200px;
            }

            .title {
                font-family: $boldFont;
                color: #3F5EAB;
                padding-bottom: 20px;
                font-size: 25px;
            }

            p {
                display: inline-block;
                height: 80px;
                font-family: $lightIrsans;
                color: $txtColor2;
                line-height: 25px;
                padding-bottom: 15px;
                font-size: 18px;
            }
        }

        .it1 .pic {
            background: url("../img/fingerPrint/fingerPrint2.png") no-repeat 50% 50%;
            background-size: 160px;
        }

        .it2 .pic {
            background: url("../img/speed/speed.png") no-repeat 50% 50%;
            background-size: 140px;
        }

        .it3 .pic {
            background: url("../img/rahat/asan.png") no-repeat 65% 40%;
            background-size: 120px;
        }

        .it4 .pic {
            background: url("../img/behine sazi/behine sazi.png") no-repeat 45% 50%;
            background-size: 130px;
        }
    }
}

.contactUs {
    background: #F4F4F4;
    overflow: hidden;

    .holder {
        width: 1280px;
        margin: 0 auto;

        h2 {
            padding: 20px;
            font-family: $font;
            font-size: 30px;
        }

        &>p {
            padding: 20px;
            font-family: $font;
            color: $txtColor2;
            font-size: 18px;
            line-height: 25px;
            text-align: justify;
            text-justify: inter-word;
        }

        span {
            display: inline-block;
            text-align: center;
            width: 100%;
            padding: 20px;
            margin-left: 0;
            margin-right: 0;
            font-family: $font;
            font-size: 23px;

            .line {
                background: #999;
                height: 1px;
                width: 200px;
                margin: 5px auto;
            }

        }
    }
}



@media only screen and (min-width: 1280px) {}

@media only screen and (max-width: 1280px) {
    .box1 {
        background: url("../img/iphonex.png") no-repeat 50% 310px, linear-gradient(-50deg, $bg-color1, $bg-color2);

        background-size: 370px, 100%;

        .holder {
            width: 960px;
            height: 450px;

            .slogan {
                font-size: 45px;
                color: $txtColorOnBg;
                top: 190px;

            }
        }
    }

    .description {
        width: 960px;

        article {
            width: 510px;
            padding: 50px 40px;

            header {
                font-size: 30px;
                padding: 50px 0;
            }

            p {
                font-size: 20px;
            }

        }

        .mobileScreen {
            height: 600px;
            width: 320px;

            .mobile {
                background-size: 270px;
            }
        }
    }

    .suggestion {
        height: 60px;

        p {
            line-height: 60px;
            width: 960px;
            font-size: 18px;
        }
    }

    .points {
        .holder {
            width: 960px;
            padding: 30px 20px;

            .item {
                margin: 20px;
                width: 200px;
                height: 300px;

                .pic {
                    height: 160px;
                    width: 160px;
                }

                p {
                    line-height: 20px;
                    padding-bottom: 10px;
                    font-size: 15px;
                }
            }

            .it1 .pic {
                background: url("../img/fingerPrint/fingerPrint2.png") no-repeat 50% 50%;
                background-size: 130px;
            }

            .it2 .pic {
                background: url("../img/speed/speed.png") no-repeat 50% 50%;
                background-size: 120px;
            }

            .it3 .pic {
                background: url("../img/rahat/asan.png") no-repeat 65% 40%;
                background-size: 100px;
            }

            .it4 .pic {
                background: url("../img/behine sazi/behine sazi.png") no-repeat 45% 50%;
                background-size: 110px;
            }
        }
    }

    .contactUs {
        .holder {
            width: 960px;

            h2 {
                font-size: 26px;
            }

            &>p {
                padding: 10px;
                font-size: 15px;
                line-height: 25px;
            }

            span {
                font-size: 20px;

                .line {
                    background: #999;
                    height: 1px;
                    width: 200px;
                    margin: 5px auto;
                }

            }
        }
    }

}

@media only screen and (max-width: 960px) {
    .box1 {

        background: url("../img/iphonex.png") no-repeat 50% 250px, linear-gradient(-50deg, $bg-color1, $bg-color2);
        background-size: 330px, 100%;

        .holder {
            width: 767px;
            height: 370px;

            .slogan {
                font-size: 35px;
                color: $txtColorOnBg;
                top: 170px;

            }
        }
    }

    .description {
        width: 767px;

        article {
            width: 400px;
            padding: 40px 30px;

            header {
                font-size: 25px;
                padding: 40px 0;
            }

            p {
                font-size: 18px;
            }

        }

        .mobileScreen {
            height: 580px;
            width: 280px;

            .mobile {
                background-size: 270px;
            }
        }
    }

    .suggestion {
        height: 55px;

        p {
            line-height: 55px;
            width: 767px;
            font-size: 18px;
        }
    }

    .points {
        .holder {
            width: 767px;
            padding: 10px 10px;

            .item {
                margin: 30px;
                width: 320px;
                height: 280px;

                .pic {
                    height: 160px;
                    width: 160px;
                }

                p {
                    line-height: 20px;
                    padding-bottom: 10px;
                    font-size: 15px;
                }
            }

        }
    }

    .contactUs {
        .holder {
            width: 767px;

            span {
                display: inline-block;
                text-align: center;
                width: 100%;
                padding: 0px;
                margin-left: 0;
                margin-right: 0;
                font-family: $font;
                font-size: 23px;

            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .box1 {

        background: url("../img/iphonex.png") no-repeat 50% 220px, linear-gradient(-50deg, $bg-color1, $bg-color2);
        background-size: 60%, 100%;

        .holder {
            width: 100%;
            height: 370px;

            .appBox {
                display: none;
            }

            .slogan {
                font-size: 35px;
                color: $txtColorOnBg;
                text-align: center;

                top: 150px;

            }
        }
    }

    .description {
        width: 480px;

        article {
            width: 260px;
            padding: 20px 10px;

            header {
                font-size: 20px;
                padding: 20px 0;
            }

            p {
                padding: 20px 0;
                line-height: 30px;
                font-size: 13px;
            }

        }

        .mobileScreen {
            height: 480px;
            width: 160px;

            .mobile {
                background-size: 170px;
            }
        }
    }

    .suggestion {
        height: auto;

        p {
            line-height: 45px;
            width: 100%;
            font-size: 13px;
        }
    }

    .points {
        .holder {
            width: 480px;
            padding: 10px 10px;


            .item {
                float: unset;
                margin: 30px auto;

            }

        }
    }

    .contactUs {
        .holder {
            width: 480px;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
                line-height: 23px;
            }

            span {
                display: inline-block;
                text-align: center;
                width: 100%;
                padding: 0px;
                margin-left: 0;
                margin-right: 0;
                font-family: $font;
                font-size: 23px;

            }
        }
    }


}

@media only screen and (max-width: 480px) {
    .box1 {
        background-size: 80%, 100%;

        .holder {
            .slogan {
                font-size: 30px;
            }
        }
    }

    .description {
        width: 100%;

        article {
            width: 59.5%;
            padding: 20px 0;
            line-height: 30px;

            header {
                font-size: 18px;
                padding: 20px 10px;
            }

            p {
                padding: 10px 10px;
                font-size: 13px;
                line-height: 25px;
            }

        }

        .mobileScreen {
            height: 440px;
            width: 39.5%;

            .mobile {
                background-size: 110%;
            }
        }
    }

    .points {
        .holder {
            width: 100%;
            padding: 10px 0px;

            .item {
                float: unset;
                margin: 0 auto;
                width: 90%;
                height: auto;

                .pic {
                    height: 130px;
                    width: 130px;
                }

                p {
                    line-height: 20px;
                    padding-bottom: 10px;
                    height: auto;
                    font-size: 15px;
                }
            }

            .it1 .pic {
                background-size: 100px;
            }

            .it2 .pic {
                background-size: 90px;
            }

            .it3 .pic {
                background-size: 90px;
            }

            .it4 .pic {
                background-size: 90px;
            }
        }
    }

    .contactUs {
        .holder {
            width: 100%;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
                width: auto;
                line-height: 23px;
            }

            span {
                display: inline-block;
                text-align: center;
                width: 100%;
                padding: 10px 0;
                margin-left: 0;
                margin-right: 0;
                font-family: $font;
                font-size: 23px;

                .line {
                    width: 130px;
                }
            }
        }
    }



}