@font-face {
  font-family: Irsans;
  src: url("../fonts/IRANSansWeb/IRANSansWeb(FaNum).woff");
}

@font-face {
  font-family: boldIrsans;
  src: url("../fonts/IRANSansWeb/IRANSansWeb(FaNum)_Bold.ttf");
}

@font-face {
  font-family: lightIrsans;
  src: url("../fonts/IRANSansWeb/IRANSansWeb(FaNum)_Light.ttf");
}

@font-face {
  font-family: mediumIrsans;
  src: url("../fonts/IRANSansWeb/IRANSansWeb(FaNum)_Medium.ttf");
}

@font-face {
  font-family: ultraLightIrsans;
  src: url("../fonts/IRANSansWeb/IRANSansWeb(FaNum)_UltraLight.ttf");
}

@font-face {
  font-family: Irsansmobile;
  src: url("../fonts/MobileFontsnum/IRANSansMobile(FaNum).ttf");
}

body {
  direction: rtl;
}

.topHeader {
  position: fixed;
  width: 100%;
  height: 80px;
  background: linear-gradient(-50deg, #34E89E, #0F3443);
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.topHeader .holder {
  width: 1280px;
  margin: 0 auto;
}

.topHeader .holder nav {
  float: right;
  width: 800px;
  height: 80px;
  margin-right: 25px;
  position: relative;
}

.topHeader .holder nav input {
  display: none;
}

.topHeader .holder nav .icon {
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.topHeader .holder nav .menu {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.topHeader .holder nav .menu a {
  text-decoration: none;
  display: block;
}

.topHeader .holder nav .menu .item {
  color: #FFF;
  float: right;
  padding: 5px 20px;
  margin: 0 5px;
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  -webkit-transition: .6s;
  transition: .6s;
  font-family: Irsans;
  cursor: pointer;
}

.topHeader .holder nav .menu .item:not(.sel):hover {
  border-bottom: 1px solid #FFF;
  -webkit-transition: .5s;
  transition: .5s;
}

.topHeader .holder nav .menu .sel {
  border-bottom: 2px solid #FFF;
}

.topHeader .holder > .icon {
  float: left;
  width: 300px;
  line-height: 80px;
  margin-left: 25px;
  color: #5ca750;
  font-size: 30px;
  height: 80px;
  background: url("../img/icon/Untitled-10.png") no-repeat 0 50%;
  background-size: 110px;
  font-family: "Comic Sans MS";
}

@media only screen and (max-width: 1280px) {
  .topHeader {
    height: 70px;
  }
  .topHeader .holder {
    width: 960px;
  }
  .topHeader .holder nav {
    width: 600px;
    height: 70px;
    margin-right: 25px;
  }
  .topHeader .holder nav .menu .item {
    padding: 5px 15px;
    margin: 0 5px;
  }
  .topHeader .holder > .icon {
    width: 250px;
    line-height: 70px;
    margin-left: 15px;
    font-size: 25px;
    height: 70px;
    background-size: 90px;
  }
}

@media only screen and (max-width: 960px) {
  .topHeader {
    height: 65px;
  }
  .topHeader .holder {
    width: 767px;
  }
  .topHeader .holder nav {
    width: 450px;
    height: 65px;
    margin-right: 20px;
  }
  .topHeader .holder nav .menu .item {
    padding: 5px 8px;
    margin: 0 2px;
    font-size: 15px;
  }
  .topHeader .holder > .icon {
    width: 230px;
    line-height: 65px;
    margin-left: 15px;
    font-size: 20px;
    height: 65px;
    background-size: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .topHeader {
    height: 60px;
    position: fixed;
  }
  .topHeader .holder {
    width: 100%;
  }
  .topHeader .holder nav {
    float: right;
    width: 70px;
    height: 60px;
    margin-right: 10px;
    position: relative;
  }
  .topHeader .holder nav input:checked ~ .menu {
    right: -10px;
  }
  .topHeader .holder nav input:checked ~ .icon {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
    -webkit-transition: .5s .03s;
    transition: .5s .03s;
  }
  .topHeader .holder nav input:checked ~ .icon .line {
    background: gray;
  }
  .topHeader .holder nav input:checked ~ .icon .line:nth-child(3) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-215px, -10px) rotate(810deg);
            transform: translate(-215px, -10px) rotate(810deg);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .topHeader .holder nav input:checked ~ .icon .line:nth-child(1) {
    -webkit-transform: translate(0px, 11px) rotate(405deg);
            transform: translate(0px, 11px) rotate(405deg);
  }
  .topHeader .holder nav input:checked ~ .icon .line:nth-child(2) {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
  .topHeader .holder nav .icon {
    display: block;
    z-index: 40;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    text-align: center;
  }
  .topHeader .holder nav .icon .line {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 20;
    margin: 7px auto;
    width: 80%;
    height: 4px;
    background: #FFF;
    border-radius: 3px;
  }
  .topHeader .holder nav .icon label {
    z-index: 50;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }
  .topHeader .holder nav .menu {
    z-index: 30;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    height: auto;
    overflow: hidden;
    width: 170px;
    border-radius: 5px;
    top: 143px;
    padding-top: 50px;
    padding-bottom: 25px;
    right: -180px;
    -webkit-box-shadow: 2px 2px 15px 1px rgba(190, 190, 190, 0.4);
            box-shadow: 2px 2px 15px 1px rgba(190, 190, 190, 0.4);
    background: #fff;
  }
  .topHeader .holder nav .menu .item {
    color: #000;
    float: none;
    text-align: right;
    padding: 10px 25px;
    margin: 2px 0px;
    -webkit-transition: .6s;
    transition: .6s;
    font-family: Irsans;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
  }
  .topHeader .holder nav .menu .item:not(.sel):hover {
    border: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .topHeader .holder nav .menu li {
    line-height: 20px;
    display: inline;
    padding: 0 5px;
  }
  .topHeader .holder nav .menu .sel li {
    border-bottom: 2px solid #34E89E;
  }
  .topHeader .holder > .icon {
    text-align: right;
    width: 100px;
    line-height: 60px;
    margin-left: 10px;
    font-size: 15px;
    height: 60px;
    background-size: 60px;
  }
}
/*# sourceMappingURL=header.css.map */